html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.menuItem{
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px 5%;
  height: 17.5vh;
  position: relative;
}

.menuItem p{
  position:absolute;
  bottom: 6%;
}
.menuItem .icon{
  position:absolute;
  right: 6%;
  top:12%
}

@media (max-width: 411px) {
  .menuItem{
    height: 60px;
  }
  .menuItem .icon{
    position:absolute;
    right: 6%;
    top:30%
  }
  
}

.modalRoot{
  position:'absolute'; 
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  z-index: 40;
}

.fit{
  overflow: hidden;
  height: 160px;
  width: 120px;
}
.fit img{
  object-position: top !important;
}
.child{
  padding-left:10%
}
.menuComponent{
  display:flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
}
.menuComponent p{
  margin-bottom: 0 !important;
}
.modal-background{
  opacity: 0.5;
}
.menuComponent .icon{
  font-size: 30px;

}